/** List Recipe **/
.App-recipe-list .App-recipe-list__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.App-recipe-list .App-recipe-list__container .App-recipe-list__item {
  padding-bottom: 50px;
  width: 100%;
}

.App-recipe-list .App-recipe-list__container .App-recipe-list__item:not(:last-child) {
  border-bottom: 1px solid var(--global-colour-grey-1);
}
