.App-separator {
  display: flex;
  align-items: center;
}

.App-separator .App-separator__title {
  padding: 0 2rem;
  color: var(--global-black);
}

.App-separator .App-separator__line {
  flex: 1;
  height: 3px;
  background-color: var(--global-black);
}
