.App-section.App-signup {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-signup .App-form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-signup input,
.App-signup .App-btn__signup {
  min-width: 80vw;
}
