.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-btn {
  background: orange;
  border: none;
  outline: none;
  border-radius: 3px;
  color: shite;
  color: white;
  padding: 1em 3em;
  margin: 1em auto;
  cursor: pointer;
}

.App-top-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: orange;
  color: white;
  z-index: 999;
  border-top: 1px solid #a06800;
}

.App-top-nav ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 10px;
}

.App-top-nav ul li:not(:last-child) {
  border-right: 1px solid #a06800;
}

.App-top-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #a06800;
  font-weight: bold;
}

.App-top-nav a.active {
  color: #ffffff;
}

.App-table {
  width: 100%;
}

/* Table Styles */
.App-table th[scope="row"] {
  text-transform: capitalize;
  text-align: right;
  padding-right: 0.5rem;
}

.App-table th[scope="col"] {
  text-transform: capitalize;
  text-align: left;
  padding-bottom: 0.5rem;
}

.App-table td {
  text-align: left;
  padding: 0.3rem;
}

@media (max-width: 530px) {
  .App-table {
    overflow-y: hidden;
  }

  table.App-table,
  .App-table thead,
  .App-table td,
  .App-table th,
  .App-table tr {
    display: block;
  }

  .App-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .App-table th[scope="row"] {
    text-align: left;
    padding-left: 118px;
  }

  .App-table tr {
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .App-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 118px;
  }

  .App-table td::before {
    position: absolute;
    top: 50%;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    transform: translate(0, -50%);
  }

  .App-table tbody td::before {
    font-weight: bold;
  }

  .App-table tbody td:nth-of-type(1)::before {
    content: 'Breakfast';
  }

  .App-table tbody td:nth-of-type(2)::before {
    content: 'Lunch';
  }

  .App-table tbody td:nth-of-type(3)::before {
    content: 'Dinner';
  }
}