.App {
  text-align: center;
}

/** Logo **/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/** Header **/
.App-header {
  background-color: #282c34;
  max-height: 1.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 10px 60px 10px;
}

/** Button **/
.App-btn {
  background: var(--global-primary);
  border: none;
  outline: none;
  border-radius: 3px;
  color: shite;
  color: white;
  padding: 1em 3em;
  margin: 1em auto;
  cursor: pointer;
}

.App-btn--primary {
  background: var(--global-primary);
  text-transform: uppercase;
}

.App-btn--secondary {
  background: var(--global-secondary);
}

.App-btn--delete {
  background: var(--global-alert);
}

.App-btn--small {
  padding: 0.5em 1.5em;
}

/** Top Nav **/
.App-top-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--global-navigation-bg);
  color: white;
  z-index: 999;
  border-top: 1px solid #a06800;
}

.App-top-nav ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px;
}

.App-top-nav ul li:not(:last-child) {
  border-right: 1px solid #a06800;
}

.App-top-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.App-top-nav a.active {
  color: #a06800;
}

/** Form **/
.App-form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
}

.App-form-group input {
  padding: 0.3em 0.8em;
}

.App-form-group label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

label.App-form-group__label-title {
  margin: 0 0 15px 0;
  cursor: default;
}

.App-form-group--inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-form-group--inline > *:not(:last-child) {
  margin-right: 10px;
}
